<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>

<body>

    <div id="app">
        <ul v-for="(item, index) in list" :key="index">
            <li>{{index}} - {{item.text}}</li>
        </ul>

        <ul v-for="number in 5">
            <li>{{number}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                list: [
                    { text: "item 1" },
                    { text: "item 2" },
                    { text: "item 3" },
                ]
            }
        });
    </script>
</body>

</html>